.catalog {
    height: 3700px;
    background-color:#C3986B;

}
.c_catalog {
    font-family: Sofia;
    font-size: 96px;
    color: #56361F;
    margin-top: 29px;
}
.c_drinks {
    font-size: 72px;
    font-family: Fauna One;
    color: white;
    margin-top: 144px;
}

.block11 {
    background-image: url("/src/assets/catalog/Rectangle 10.png");
    height: 222px;
    width: 240px;
    display: inline-flex;
    padding-left: 400px;
    background-repeat: no-repeat;
}

.block12 {
    background-image: url("/src/assets/catalog/Rectangle 13.png");
    display: inline-flex;
    height: 240px;
    width: 250px;
    background-repeat: no-repeat;
    padding-left: 400px;
    margin-top: 16px;
}

.block13 {
    background-image: url("/src/assets/catalog/Rectangle 12.png");
    display:inline-flex;
    height: 260px;
    width: 230px;
    background-repeat: no-repeat;
    padding-left: 10px;
}

.c_amer {
    font-size: 48px;
    font-family: Fauna One;
    color: white;
    display:inline-flex;

}

.c_cap {
    font-size: 48px;
    font-family: Fauna One;
    color: white;
    display:inline-flex;
    padding: 50px;


}
.c_moc {
    font-size: 48px;
    font-family: Fauna One;
    color: white;
    display:inline-flex;
   padding: 50px;
}